/*Animações*/

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}

@keyframes pisca{
    from {border-color: transparent;}
    to {border-color: white;}
}

@keyframes imagem{
    0% {height: 0;}
    25%{height: 175px;}
    50%{height: 350px;}
    75%{height: 525px;}
    100%{height: 700px;}
}

@keyframes canvas{
    from{visibility: hidden;}
    to{visibility: visible;}
}

/*Geral*/
body{
    background-color: black;
    color: rgb(47, 145, 47);
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    width: fit-content;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: 0;
}

.container{
    width: fit-content;
}

/*Entradas*/
.proceed{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 11s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

.proceedCentro{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 15s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
} 

.proceedCentro2{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 14s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}     

.proceedCharada{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 16s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}    

.user{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 7s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

.pass{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 8s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}    

.passConf{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 9s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}    

.resp{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 15s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

.listar{
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(10, end) 12s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}
.listaObj{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 14s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

/*Textos*/
.identidade{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 3s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}    

.charada1{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 3s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}    

.charada2{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 6s forwards,
    pisca .8s steps(2) 12;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}    

.charada3{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(18, end) 9s forwards,
    pisca .8s steps(2) 15;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}    

.charada4{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(13, end) 12s forwards,
    pisca .8s steps(2) 19;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}    

.bruce1{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 6s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.bruce2{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 9s forwards,
    pisca .8s steps(2) 12;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.bruce3{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 12s forwards,
    pisca .8s steps(2) 15;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.bruce4{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 15s forwards,
    pisca .8s steps(2) 19;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.congrats{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(13, end) 3s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.bruceImg{
    overflow: hidden;
    animation: imagem 4s steps(1, end) 20s forwards;
    height: 0;
}

.bruceImg img{
    height: 700px;
}

.pag{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(13, end) 25s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

.lista{
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(10, end) 8s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

#lista{
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(10, end) 10s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}