body{
    background-color: black;
    color: rgb(47, 145, 47);
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}

@keyframes pisca{
    from {border-color: transparent;}
    to {border-color: white;}
}

.user{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 6s forwards,
    pisca .8s steps(2) infinite;
    white-space: nowrap;
    border-right: 5px solid green;
    margin-bottom: 5px;
}

.identidade{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 3s forwards,
    pisca .8s steps(2) infinite;
    white-space: nowrap;
    border-right: 5px solid green;
    margin-bottom: 5px;
}

.container{
    width: fit-content;
}

#userInp{
    visibility: hidden;
}