body{
    background-color: black;
    color: rgb(47, 145, 47);
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}

@keyframes pisca{
    from {border-color: transparent;}
    to {border-color: white;}
}

.user{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 7s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}

.identidade{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 3s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.container{
    width: fit-content;
}

input{
    width: fit-content;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: 0;
}

.riqueza1{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 3s forwards,
    pisca .8s steps(2) 8;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}
.riqueza2{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 6s forwards,
    pisca .8s steps(2) 12;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}
.riqueza3{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 9s forwards,
    pisca .8s steps(2) 15;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}
.riqueza4{
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) 12s forwards,
    pisca .8s steps(2) 19;
    white-space: nowrap;
    border-right: 5px solid rgb(141, 141, 141);
    margin-bottom: 5px;
}

.resp{
    overflow: hidden;
    width: 0;
    animation: typing 1s steps(6, end) 15s forwards;
    white-space: nowrap;
    margin-bottom: 5px;
}