body{
    margin: 0;
    background-color: #141414;
    color: rgb(182, 182, 182);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 2px solid rgb(182, 182, 182);
}
.header .container{
    width: 100px;
}

.navBar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    padding: 0;
    margin-top: 20px;
    align-items: center;
    font-size: 17px;
}
#logoGCPD{
    height: 100px;
}

a{
    text-decoration: none;
    color: rgb(182, 182, 182);
}

.aqui{
    color: aliceblue;
}

.btnCharada{
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    font-size: 16px;
    cursor: default;
    display: inline-block;
    color: rgb(182, 182, 182);
    font-family: inherit;
}